* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4b3f31;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

header nav ul li a:hover {
    color: #ffcc00;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.banner {
    background-image: url('merchant.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.banner-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 1.2em;
    margin-top: 20px;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-category {
    margin-bottom: 40px;
}

.product-category h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

ul {
    list-style-type: none; 
    padding-left: 0; 
    margin-left: 0; 
}

li {
    padding-left: 0;
}

.submit-btn {
    background-color: #4b3f31; 
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.submit-btn:hover {
    background-color: #ffcc00; 
}


button {
    background-color: #4b3f31;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    color: #ffcc00;
}

.testimonial {
    background-color: #eaeaea;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4b3f31;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    color: #ffcc00;
}

footer {
    background-color: #4b3f31;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
